.all {
  position: relative;
  left: 21em;
  width: 87em;
  font-family: Satoshi-Regular, sans-serif;
}
.modificaDescr {
  display: inline-block;
  position: relative;
  left: 89%;
}

.modificaDescr:hover {
  color: #0b5ed7;
}

.modificaMail {
  display: inline-block;
  position: relative;
  left: 79%;
}

.modificaMail:hover {
  color: #0b5ed7;
}

.cursorLink {
  cursor: pointer;
}

.imgProfilo {
  z-index: 1;
  width: 150px;
  height: 160px;
}

.modificaFoto {
  width: 3em;
  display: inline-block;
  position: relative;
  top: 19%;
  left: 110%;
  z-index: 2;
  color: #0D6EFD;
}

.datiPersonali {
  /*background-color: #eeeeee;*/
  z-index: 1;
  border-radius: 10px;
}

.about {
  z-index: 1;

  /*background-color: #eeeeee;*/
  border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
  .all {
    left: 8em;
    width: 70em;
  }
  .modificaMail {
    left: 72%;
  }
  .modificaDescr {
    left: 85.5%;
  }
}
