.all {
  position: relative;
  left: 21em;
  width: 87em;
  font-family: Satoshi-Regular, sans-serif;
}
.modificaDescr {
  display: inline-block;
  position: relative;
  left: 89%;
}

.modificaDescr:hover {
  color: #0b5ed7;
}

.modificaMail {
  display: inline-block;
  position: relative;
  left: 79%;
}

.modificaMail:hover {
  color: #0b5ed7;
}

.passwordStyle {
  display:inline-block;
  margin-left: 35em;
}

.cursorLink {
  cursor: pointer;
}

/*.imgProfilo {*/
/*  z-index: 1;*/
/*  min-width: 150px;*/
/*  min-height: 160px;*/
/*}*/

.imgProfilo {
  min-width: 150px;
  min-height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.modificaFoto {
  width: 3em;
  display: inline-block;
  position: relative;
  top: 19%;
  left: 110%;
  z-index: 2;
  color: #0D6EFD;
}

.datiPersonali {
  /*background-color: #eeeeee;*/
  z-index: 1;
  border-radius: 10px;
}

.about {
  z-index: 1;

  /*background-color: #eeeeee;*/
  border-radius: 10px;
}
@media only screen and (max-width: 1300px) and (min-width: 900px) {
  .all {
    left: 8em;
    width: 100em;
  }

  .modificaMail {
    left: 72%;
  }

  .modificaDescr {
    left: 85.5%;
  }

  .modificaMail {
    display: inline-block;
    position: relative;
    left: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .all {
    left: 7em;
    width: 60em;
  }

  .passwordStyle {
    margin-left: 25em;
  }

  .modificaMail {
    left: 50%;
  }

  .modificaDescr {
    left: 70%;
  }
}
