.all {
  position: fixed;
  height: 100vh;
  width: max-content;
  margin-left: 5em;
  background-color: #F9F9F9;
}

.chattaCon {
  margin-left: 0.1em;
  margin-top: 1em;
  font-size: 19px;
}


.msgInput {
  margin-right: 0.5em;
  width: 14em;
}

.imgSend {
  width: 30px;
  height: 30px; margin-bottom: 10px;
  position: relative;
  bottom: 25%
}

.goBack {
  cursor: pointer;
  position: relative;
  bottom: 8%;
  right: 1%;
}

/*.allCard {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*.msgCardBody {*/
/*  display: flex;*/
/*}*/
/*.msgContent {*/
/*  margin-top: 1em;*/
/*  background-color: #cccccc;*/
/*  width: min-content;*/
/*  height: auto;*/
/*  padding: 5px;*/
/*  border-radius: 5px;*/
/*  word-wrap: break-word;*/
/*  justify-content: flex-start;*/
/*}*/
/*.msgContent1 {*/
/*  margin-top: 1em;*/
/*  background-color: #cccccc;*/
/*  width: min-content;*/
/*  height: auto;*/
/*  padding: 5px;*/
/*  border-radius: 5px;*/
/*  word-wrap: break-word;*/
/*  justify-content: flex-end;*/
/*}*/


.allCard {
  display: flex;
  flex-direction: column;

}
.cardMsgSend {
    margin-top: 1em;
    background-color: #cccccc;
    width: min-content;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    /*justify-content: flex-end;*/
    align-self: flex-end;
}

.cardMsgSend1 {
  margin-top: 1em;
  background-color: #cccccc;
  width: min-content;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  word-wrap: break-word;
  /*justify-content: flex-end;*/
  align-self: flex-start;
}
