.all {
  position: fixed;
  height: 100vh;
  width: 30em;
  margin-left: 5em;
  background-color: #F9F9F9;
}

.chattaCon {
  margin-left: 0.1em;
  margin-top: 1em;
}


.msgInput {
  margin-right: 0.5em;
  width: 14em;
}

.imgSend {
  width: 30px;
  height: 30px; margin-bottom: 10px;
  position: relative;
  bottom: 25%
}
