<!--<div class="container">-->

<!--  <div class="row height d-flex align-items-center">-->

<!--    <div class="col-8">-->
<!--      <div class="form">-->
<!--        <i class="fa fa-search"></i>-->
<!--        <input type="text" class="form-control form-input" placeholder="Cerca...">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

    <div class="col-11">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Cerca...">
      </div>
    </div>

