<div class="post">
  <ng-container *ngIf="anagAutore$ | async as anagAutore">
<!--    con async si esegue direttamente la subscribe nell'if, ottenendo quindi l'accesso ai dati-->
    <div class="author">{{anagAutore.nome}} {{anagAutore.cognome}}</div>
  </ng-container>
  <div class="date">{{this.date}}</div>
  <div class="content">
    {{this.content}}
  </div>
  <div class="actions">

    <ng-container *ngIf="iterazione$ | async as iterazione">
      <ng-container *ngIf="iterazione.likes==0">
        <div (click)="setLike()" class="like-button" style="cursor: pointer">
          <i class="fas fa-thumbs-up"></i> Mi Piace
        </div>
      </ng-container>
    </ng-container>




    <a href="#"><i class="fas fa-comment"></i> Commenta</a>
  </div>
</div>

