<div class="post">
  <ng-container *ngIf="anagAutore$ | async as anagAutore">
<!--    con async si esegue direttamente la subscribe nell'if, ottenendo quindi l'accesso ai dati-->


    <img [src]="base64Img" class="userImg" alt="" srcset="">


    <div class="author">{{anagAutore.nome}} {{anagAutore.cognome}}</div>

    <div *ngIf="this.boolTrash" class="trash trashDiv">
      <i class="fa fa-trash" aria-hidden="true" (click)="deletePost()"></i>
    </div>

  </ng-container>
  <div class="date" style="margin-top: 10px;">{{this.date}}</div>
  <div class="content">
    {{this.content}}
  </div>

  <hr class="hrBlack">

  <div class="viewCommenti" *ngIf="commenti.length!=0">
    <div class="vl" ></div>

    <div class="commenti">

      <div class="commento" *ngFor="let commento of commenti">
        <img [src]="this.userImgMap.get(commento.user.id)" class="userImg" alt="" srcset="">
        <div class="autore">{{commento.nomeAutore}}</div>
        <div class="dateComment">{{ commento.dataCommento}}</div>
        <div class="testo">{{ commento.contenuto }}</div>
        <hr class="hrBlack">
      </div>
    </div>
  </div>



  <div class="comments">
    <form>
      <label for="commento" style="margin-bottom: 0.5em">Aggiungi un commento:</label><br>

      <textarea id="commento" name="commento" rows="4" cols="50" [(ngModel)]="commentoString"></textarea><br><br>
      <div class="InputSubmit">

        <div (click)="setLike()" class="like-button" style="cursor: pointer">
          <div *ngIf="this.boolLike; else elseBlock" class="miPiaceSet">
            <i class="fas fa-thumbs-up"></i> {{this.likes}} Mi Piace
          </div>
          <ng-template #elseBlock>
            <i class="fas fa-thumbs-up"></i> {{this.likes}} Mi Piace
          </ng-template>
        </div>

        <input type="submit" value="Pubblica commento" class="inviaCommento" (click)="inviaCommento()">
      </div>
    </form>
  </div>

</div>


