<div class="post">
  <div class="author">Nome Autore</div>
  <div class="date">Data di pubblicazione</div>
  <div class="content">
    lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
  </div>
  <div class="actions">
    <div class="like-button">
      <i class="fas fa-thumbs-up"></i> Mi Piace
    </div>
    <a href="#"><i class="fas fa-comment"></i> Commenta</a>
  </div>
</div>

<p>item: {{item}}</p>
