<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benvenuto su Elemental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
     <p>
         Ciao, il tuo account con la email <span th:text="${mail}"></span>
     </p>
    <p>
      La tua registrazione è avvenuta con successo. Benvenuto in <b>Elemental!</b>
    </p>
     <p>
         Saluti, <br>
         <em>Simone Campisi, founder di Elemental.</em>
     </p>
</body>
</html>