<div class="container-fluid">
  <div class="row">
    <div class="col-2 p-0">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-7 flex-grow-1">
      <app-content></app-content>
    </div>

    <div class="col-3 viewFriendsBar" *ngIf="chatService.mostraFriendsBar else burgerMenu">
      <app-friends-bar></app-friends-bar>
    </div>

    <ng-template #burgerMenu>
      <div class="menuBurger" (click)="openChatMenu()">
        <app-burger-menu></app-burger-menu>
      </div>
    </ng-template>


  </div>
</div>
