<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark shadow-lg all">
  <a (click)="goHome()" class="cursorLink d-flex align-items-center mb-0 mb-md-0 me-md-auto text-white text-decoration-none">
<!--    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>-->
<!--    <span class="fs-4"></span>-->
    <img src="./assets/el4-white.png" class="imgLogo" alt="" height="155" width="500">
    <img src="./assets/es4_nosf1.png" class="imgLogo1" alt="">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto desktopMobile">
    <li class="nav-item" *ngIf="posUrl==1; else homeNotActive">
      <a (click)="goHome()" class="nav-link active cursorLink" aria-current="page">
        <svg class="bi me-2 borderDesktop" width="10" height="16"></svg>
        <img src="./assets/menu/home.png" class="imgMenu" alt="" srcset="">
        <div class="text txtMenu" style="padding-left: 5px">HOME</div>
      </a>
    </li>

    <ng-template #homeNotActive>
      <li class="nav-item">
        <a (click)="goHome()" class="nav-link cursorLink text-white" aria-current="page">
          <svg class="bi me-2 borderDesktop" width="10" height="16"></svg>
          <img src="./assets/menu/home.png" class="imgMenu" alt="" srcset="">
          <div class="text txtMenu" style="padding-left: 5px">HOME</div>
        </a>
      </li>
    </ng-template>

    <li class="nav-item mt-2" *ngIf="posUrl==2; else userNotActive">
      <a (click)="goDettaglioUser()" class="nav-link active cursorLink ">
        <svg class="bi me-2 borderDesktop" width="12" height="16"></svg>
        <i class="fas fa-user" style="color: #ffffff;"></i>
        <div class="text txtMenu" style="padding-left: 8px">PROFILO</div>
      </a>
    </li>

    <ng-template #userNotActive>
      <li class="nav-item mt-2">
        <a (click)="goDettaglioUser()" class="nav-link cursorLink text-white">
          <svg class="bi me-2 borderDesktop" width="12" height="16"></svg>
          <i class="fas fa-user" style="color: #ffffff;"></i>
          <div class="text txtMenu" style="padding-left: 8px">PROFILO</div>
        </a>
      </li>
    </ng-template>

  </ul>


  <hr>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle dropBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
<!--      <img src="./assets/menu/user.png" class="userImg" alt="" srcset="">-->
      <img [src]="base64Img" class="userImg" alt="" srcset="">

      <div class="nomeUser">{{anag.nome}}</div>
    </button>
    <ul class="dropdown-menu">
<!--      <li><a class="dropdown-item" href="#">Dettagli profilo</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Impostazioni</a></li>-->
      <li><a class="dropdown-item" style="text-align: center"  (click)="logout()">Logout</a></li>
    </ul>
  </div>



</div>
