.all {
  width: 280px;
  height: 100vh;
  position: fixed;

  font-family: Satoshi-Regular, sans-serif;
}

.imgLogo {
  width: 250px;
  height: 60px;
}

.imgSettings {
  width: 20px;
  height: 20px;
  padding-top: 0px;
  padding-left: 0px;
}

.cursorLink {
  cursor: pointer;
}

.imgMenu {
  width: 20px;
  height: 20px;
  padding-top: 0px;
}

.text {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 4px;
  font-weight: 600;
}

.userImg {
  /*width: 30px;*/
  /*height: 30px;*/
  /*border-radius: 10px;*/
  /*margin-right: 5%;*/
  /*margin-bottom: 0px;*/

  border: 1px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  right: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.nomeUser {
  display: inline-block;
  position: relative;
  right: 2%;
  top: 2px;
}

.dropdown-toggle::after {
  display:none;
}

.dropBtn {
  width: 100%;
}

.imgLogo1 {
  display: none;
}

@media only screen and (max-width: 800px) {
  .all {
    width: 100px;
  }
  .desktopMobile {
    display: flex;
  }
  .txtMenu {
    display: none;
  }
  .borderDesktop {
    display: none;
  }
  .cursorLink {
    text-align: center;
  }
  .nomeUser {
    display: none;
  }
  .userImg {
    right: 0%;
  }
  .imgLogo {
    display:none;
  }
  .imgLogo1 {
    display: inline;
    width: 20px;
    position: relative;
    left: 38%;
  }
}
